window {
    background: transparent;    
}

#outer-box {
    background-color: black;
    border-radius: 20px;
    border: 0.1em solid;
    border-color: #b4befe;
}

#scroll {
    margin: 0 1em;
}

#input {
    margin: 1em;
    border-radius: 20px;
}

#entry {
    margin-bottom: 1em;
    border-radius: 20px;
}

#text {
    color: #e9e9e9;
    margin-left: 1em;
}

#img {
    margin-left: 1em;
}

#entry:selected {
    background-color: rgb(255, 255, 255);
}

#text:selected { 
    color: #0a4a7e;
    font-weight: bold;
}