* {
    border: none;
font-family: 'FiraCode Nerd Font', 'Nerd Fonts Symbols Mono', FontAwesome, sans-serif;
    font-size: 16px;
}

#waybar {
    background-color: transparent;
    color: #dddddd;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#battery {
    margin-left: 0.4em;
}

#pulseaudio,
#backlight,
#network,
#bluetooth {
    margin: 0 0.4em;
}
