* {
    font-family: 'Fira Code', 'Symbols Nerd Font Mono';
    font-size: 16px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    min-height: 45px;
}

#waybar {
    background-color: transparent;
    color: #dddddd;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#battery {
    margin-left: 0.4em;
}

#pulseaudio,
#backlight,
#network,
#bluetooth {
    margin: 0 0.4em;
}
