#waybar {
    background-color: white;
    border-radius: 0 0 10% 10%;
    color: #dddddd;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#battery {
    margin-left: 0.4em;
}

#pulseaudio,
#backlight,
#network,
#bluetooth {
    margin: 0 0.4em;
}
