* {
    font-size: 12px;
    min-height: 14px;
}

#waybar {
    background-color: black;
    color: #ffffff;
}

#backlight,
#battery,
#cpu,
#network,
#memory,
#pulseaudio,
#bluetooth {
    padding-right: 15px;
    margin: 6px 0;
}

#bluetooth {
    color: #FF7043;
}

#pulseaudio {
    color: #81C995;
}

#clock {
    font-weight: bold;
}

#cpu {
    color: #777bc2;
}

#network {
    color: #268BD2;
}

#backlight {
    color: #f39c12;
}

#battery.low {
    color: #ff0000;
}

#battery.medium {
    color: #ff8c00;
}

#battery.midhigh {
    color: #ffd700;
}

#battery.high {
    color: #bbff00;
}

#battery.full {
    color: #00ff00;
}

#custom-recorder {
    color: red;
}

#memory {
    color: #D3869B;    ;
}